/* info-section */
.info-section {
	padding: 5rem 0 6.25rem;
	.big-title {
		margin: 0 0 0.75rem;
		}
	p {
		margin: 0 0 0.9375rem;
		&:last-child {
			margin: 0;
			}
		}
	}

/* offers-section */
.offers-section {
	&__in {
		margin: 0 -5rem;
		padding: 3.75rem 5rem 3.125rem;
		background: var(--secondary-background-color);
		}
	}

/* top-col */
.top-col {
	margin: 0 0 2rem;
	.title {
		margin: 0 0 0.5rem;
		}
	p {
		margin: 0;
		line-height: 1.5rem;
		}
	}

/* offers-slider */
.offers-slider {
	&.swiper {
		margin: 0 -1rem;
		}
	.swiper-slide {
		padding: 0 1rem;
		}
	.swiper-pagination {
		position: static;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0 0.5rem;
		padding: 1.25rem 0 0;
		}
	.swiper-pagination-bullet {
		position: relative;
		margin: 0 !important;
		width: 0.625rem;
		height: 0.625rem;
		background: var(--fifth-background-color);
		opacity: 1;
		transition: .5s all;
		&:before {
			position: absolute;
			display: block;
			width: 0.25rem;
			height: 0.25rem;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 100%;
			background: var(--primary-background-color);
			content: "";
			opacity: 0;
			transition: .5s opacity;
			}
		&.swiper-pagination-bullet-active {
			background: none;
			box-shadow: 0 0 0 0.0625rem var(--quaternary-border-color) inset;
			&:before {
				opacity: 1;
				}
			}
		}
	}

/* offer */
.offer {
	background: var(--quaternary-background-color);
	&__img {
		position: relative;
		width: 100%;
		height: 18.5625rem;
		overflow: hidden;
		a {
			display: block;
			width: 100%;
			height: 100%;
			&:hover {
				img {
					transform: scale(1.05);
					}
				}
			}	
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: .5s transform;
			}
		.discount-sticker {
			position: absolute;
			top: 1.25rem;
			right: 1.25rem;
			z-index: 3;
			}
		}
	&__description {
		padding: 1rem 1.25rem 1.25rem;
		}
	&__title {
		margin: 0 0 0.75rem;
		font-family: var(--secondary-font-family);
  	font-weight: var(--quaternary-font-weight);
  	a {
  		color: var(--primary-text-color);
  		&:hover {
  			color: var(--secondary-border-color);
  			}
  		}
		}
	&__col {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 0 1rem;
		}
	&__col-price {
		display: flex;
		flex-direction: column;
		}
	&__new-price {
		color: var(--tertiary-text-color);
		font-size: 1.125rem;
		font-weight: var(--quaternary-font-weight);
		line-height: 1.4375rem;
		}
	&__old-price {
		color: var(--six-text-color);
		font-size: 0.9375rem;
		line-height: 1.375rem;
		}
	}

/* catalog-section */
.catalog-section {
	padding: 6.25rem 0;
	&_indent-top-none {
		padding-top: 0 !important;
		}
	&_indent-bottom-none {
		padding-bottom: 0 !important;
		}
	}

/* catalog */
.catalog {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem 2rem;
	&__item {
		a {
			display: block;
			background: var(--secondary-background-color);
			transition: .5s background;
			&:hover {
				background: var(--tertiary-background-color);
				.catalog__img {
					img {
						transform: scale(1.05);
						}
					}
				.catalog__title {
					color: var(--quaternary-background-color);
					}
				}
			}
		}
	&__img {
		display: block;
		width: 100%;
		height: 13.125rem;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: .5s transform;
			}
		}
	&__title {
		display: block;
		padding: 1.125rem 1.25rem;
		color: var(--primary-text-color);
		font-size: 1.25rem;
		font-weight: var(--quaternary-font-weight);
		font-family: var(--secondary-font-family);
		line-height: 1.5rem;
		transition: .5s color;
		}
	}

/* popular-section */
.popular-section {
	padding: 6.25rem 0;
	&_indent-top-none {
		padding-top: 0 !important;
		}
	&_indent-bottom-none {
		padding-bottom: 0 !important;
		}
	}

/* furniture */
.furniture {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem 2rem;
	&__item {
		display: flex;
		flex-direction: column;
		background: var(--secondary-background-color);
		}
	&__img {
		position: relative;
		width: 100%;
		height: 15.625rem;
		overflow: hidden;
		a {
			position: relative;
			display: block;
			&:hover {
				img {
					transform: scale(1.05);
					}
				.furniture__zoom {
					opacity: 1;
					}
				}
			}
		.new-sticker {
			position: absolute;
			top: 1.25rem;
			right: 1.25rem;
			z-index: 3;
			}
		.discount-sticker {
			position: absolute;
			top: 1.25rem;
			right: 1.25rem;
			z-index: 3;
			}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: .5s transform;
			}
		}
	&__zoom {
		position: absolute;
		display: block;
		width: 2.5rem;
		height: 2.5rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 100%;
		z-index: 5;
		opacity: 0;
		transition: .5s opacity;
		&:before {
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: var(--primary-background-color);
			border-radius: 100%;
			opacity: 0.8;
			content: "";
			}
		&:after {
			position: absolute;
			display: block;
			width: 1.1875rem;
			height: 1.1875rem;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: url(../img/icons/zoom.svg) center no-repeat;
  		background-size: 100%;
			z-index: 3;
			content: "";
			}
		}
	&__description {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding: 1rem 1.25rem 1.25rem;
		}	
	&__title {
		margin: 0 0 0.25rem;
		font-size: 1.125rem;
		font-family: var(--secondary-font-family);
		font-weight: var(--quaternary-font-weight);
		line-height: 1.5rem;
		a {
			color: var(--primary-text-color);
			&:hover {
				color: var(--tertiary-text-color);
				}
			}
		}
	&__price-col {
		display: flex;
		gap: 0 0.5rem;
		margin: 0 0 0.75rem;
		}
	&__price {
		display: block;
		font-size: 1.125rem;
		font-weight: var(--quaternary-font-weight);
		line-height: 1.5rem;
		}
	&__new-price {
		color: var(--tertiary-text-color);
		font-size: 1.125rem;
		font-weight: var(--quaternary-font-weight);
		line-height: 1.5rem;
		}	
	&__old-price {
		color: var(--six-text-color);
		font-size: 0.9375rem;
		line-height: 1.5rem;
		}
	.furniture-list {
		margin: 0 0 1.375rem;
		}
	&__bottom-col {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-top: auto;
		}
	}

/* furniture-list */
.furniture-list {
	display: flex;
	flex-direction: column;
	gap: 0.25rem 0;
	dl {
		display: flex;
		align-items: center;
		gap: 0 0.5rem;
		color: var(--six-text-color);
		font-size: 0.9375rem;
		font-weight: var(--secondary-font-weight);
		line-height: 1.375rem;
		}
	&__highlighted {
		color: var(--secondary-text-color);
		}
	}

/* advantages-section */
.advantages-section {
	padding: 6.25rem 0;
	&_indent-top-none {
		padding-top: 0 !important;
		}
	&_indent-bottom-none {
		padding-bottom: 0 !important;
		}
	}

/* advantages */
.advantages {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem 2rem;
	&__item {
		padding: 1rem 1.25rem 1.25rem;
		border: 0.0625rem solid var(--primary-border-color);
		}
	&__top-col {
		margin: 0 0 0.75rem;
		}
	&__icon {
		margin: 0 0 0.75rem;
		width: 2.5rem;
		img {
			width: 100%;
			}
		}
	&__title {
		color: var(--secondary-text-color);
		font-size: 1.25rem;
		font-family: var(--secondary-font-family);
		font-weight: var(--quaternary-font-weight);
		line-height: 1.5rem;
		}
	p {
		color: var(--six-text-color);
		font-size: 1rem;
		line-height: 1.5rem;
		}
	}

/* partners-section */
.partners-section {
	padding: 6.25rem 0;
	&_indent-top-none {
		padding-top: 0 !important;
		}
	&_indent-bottom-none {
		padding-bottom: 0 !important;
		}
	}

/* partners */
.partners {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 2rem 2rem;
	&__item {
		img {
			width: 100%;
			}
		}
	}

/* reviews-section */
.reviews-section {
	padding: 6.25rem 0;
	background: var(--secondary-background-color);
	&_indent-top-none {
		padding-top: 0 !important;
		}
	&_indent-bottom-none {
		padding-bottom: 0 !important;
		}
	}

/* reviews-slider */
.reviews-slider {
	position: relative;
	.swiper {
		margin: 0 -1rem;
		}
	.swiper-slide {
		padding: 0 1rem;
		}
	.swiper-pagination {
		position: static;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0 0.5rem;
		padding: 1.25rem 0 0;
		}
	.swiper-pagination-bullet {
		position: relative;
		margin: 0 !important;
		width: 0.625rem;
		height: 0.625rem;
		background: var(--fifth-background-color);
		opacity: 1;
		transition: .5s all;
		&:before {
			position: absolute;
			display: block;
			width: 0.25rem;
			height: 0.25rem;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 100%;
			background: var(--primary-background-color);
			content: "";
			opacity: 0;
			transition: .5s opacity;
			}
		&.swiper-pagination-bullet-active {
			background: none;
			box-shadow: 0 0 0 0.0625rem var(--quaternary-border-color) inset;
			&:before {
				opacity: 1;
				}
			}
		}
	.swiper-button-next {
		margin: -3.375rem 0 0;
		width: 3rem;
		height: 3rem;
		right: -5rem;
		transition: .3s background;
  	&:before {
  		position: absolute;
  		width: 0.875rem;
			height: 1.5rem;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
  		background: url(../img/icons/slider-arrow-next.svg) center no-repeat;
  		background-size: 100%;
  		content: "";
  		transition: .3s opacity;
  		}
		&:after {
			position: absolute;
  		width: 0.875rem;
			height: 1.5rem;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
  		background: url(../img/icons/slider-arrow-next-w.svg) center no-repeat;
  		background-size: 100%;
  		content: "";
  		z-index: 3;
  		opacity: 0;
  		transition: .3s opacity;
			}
		&.swiper-button-disabled {
			background: none !important;
			opacity: 1;
			cursor: default;
			pointer-events: inherit;
			&:before {
				background: url(../img/icons/slider-arrow-next-g.svg) center no-repeat;
  			background-size: 100%;
  			opacity: 1 !important;
				}
			&:after {
				display: none;
				}
			}
		&:hover {
			background: var(--secondary-btn-color);
			&:before {
				opacity: 0;
				}
			&:after {
				opacity: 1;
				}
			}
		&:active {
			background: var(--tertiary-btn-color);
			&:before {
				opacity: 0;
				}
			&:after {
				opacity: 1;
				}
			}
		}
	.swiper-button-prev {
		margin: -3.375rem 0 0;
		width: 3rem;
		height: 3rem;
		left: -5rem;
		transition: .3s background;
		&:before {
			position: absolute;
			display: block;
			width: 0.875rem;
			height: 1.5rem;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: url(../img/icons/slider-arrow-prev.svg) center no-repeat;
  		background-size: 100%;
  		content: "";
  		transition: .3s opacity;
			}
		&:after {
			position: absolute;
			display: block;
			width: 0.875rem;
			height: 1.5rem;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: url(../img/icons/slider-arrow-prev-w.svg) center no-repeat;
  		background-size: 100%;
  		content: "";
  		z-index: 3;
  		opacity: 0;
  		transition: .3s opacity;
			}
		&.swiper-button-disabled {
			background: none !important;
			opacity: 1;
			cursor: default;
			pointer-events: inherit;
			&:before {
				background: url(../img/icons/slider-arrow-prev-g.svg) center no-repeat;
  			background-size: 100%;
  			opacity: 1 !important;
				}
			&:after {
				display: none;
				}
			}
		&:hover {
			background: var(--secondary-btn-color);
			&:before {
				opacity: 0;
				}
			&:after {
				opacity: 1;
				}
			}
		&:active {
			background: var(--tertiary-btn-color);
			&:before {
				opacity: 0;
				}
			&:after {
				opacity: 1;
				}
			}
		}
	}

/* review */
.review {
	a {
		display: block;
		width: 100%;
		overflow: hidden;
		&:hover {
			img {
				transform: scale(1.05);
				}
			}
		}
	img {
		width: 100%;
		transition: .5s transform;
		}
	}

/* blog-section */
.blog-section {
	padding: 6.25rem 0;
	&_indent-top-none {
		padding-top: 0 !important;
		}
	&_indent-bottom-none {
		padding-bottom: 0 !important;
		}
	}

/* top-panel */
.top-panel {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 0 1.875rem;
	margin: 0 0 2rem;
	.title {
		margin: 0;
		}
	.link {
		margin: 0 0 0.3125rem;
		}
	}

/* blog */
.blog {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem 2rem;
	&__item {
		background: var(--secondary-background-color);
		}
	&__img {
		width: 100%;
		height: 15.625rem;
		overflow: hidden;
		a {
			display: block;
			width: 100%;
			height: 100%;
			&:hover {
				img {
					transform: scale(1.05);
					}
				}
			}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: .5s transform;
			}
		}
	&__description {
		padding: 1rem 1.25rem 1.25rem;
		}
	&__title {
		margin: 0 0 0.5rem;
		font-size: 1.25rem;
		font-family: var(--secondary-font-family);
		font-weight: var(--quaternary-font-weight);
		line-height: 1.625rem;
		a {
			color: var(--primary-text-color);
			&:hover {
				color: var(--tertiary-text-color);
				}
			}	
		}
	p {
		display: -webkit-box;
		color: var(--six-text-color);
		font-size: 1rem;
		line-height: 1.5rem;
		text-overflow: ellipsis;
	  -webkit-box-orient: vertical;
	  -webkit-line-clamp: 2;
	  word-break: break-word;
	  overflow: hidden;
		}
	}	

/* questions-section */
.questions-section {
	padding: 6.25rem 0;
	&_indent-top-none {
		padding-top: 0 !important;
		}
	&_indent-bottom-none {
		padding-bottom: 0 !important;
		}
	&__col {
		display: flex;
		align-items: flex-start;
		gap: 0 2rem;
		}
	&__col-left {
		flex-shrink: 0;
		width: 24.5rem;
		}
	&__col-right {
		width: 100%;
		}
	}

/* accordion */
.accordion {
	&__item {
		padding: 1.125rem 0;
		border-bottom: 0.0625rem solid var(--primary-border-color);
		&:first-child {
			padding-top: 0 !important;
			}
		&:hover {
			.accordion__title {
				color: var(--tertiary-text-color);
				}
			.accordion__icon {
				&:before {
					background: var(--tertiary-background-color);
					}
				&:after {
					background: var(--tertiary-background-color);
					}
				}
			}
		}
	&__title-panel {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 0 1.25rem;
		cursor: pointer;
		&.active {
			.accordion__title {
				color: var(--tertiary-text-color);
				}
			.accordion__icon {
				&:before {
					background: var(--tertiary-background-color);
					}
				&:after {
					opacity: 0;
					}
				}
			}
		}
	&__title {
		display: block;
		color: var(--secondary-text-color);
		font-size: 1.25rem;
		font-weight: var(--tertiary-font-weight);
		line-height: 1.625rem;
		cursor: pointer;
		transition: .3s color;
		}
	&__icon {
		position: relative;
		width: 1.5rem;
		height: 1.5rem;
		cursor: pointer;
		&:before {
			position: absolute;
			display: block;
			width: 1rem;
			height: 0.125rem;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: var(--primary-background-color);
			content: "";
			transition: .3s background;
			}
		&:after {
			position: absolute;
			display: block;
			width: 0.125rem;
			height: 1rem;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: var(--primary-background-color);
			content: "";
			transition: .3s background, .3s opacity;
			}
		}
	&__content {
		max-height: 0;
	  overflow: hidden;
	  transition: max-height .4s ease-out;
		}
	&__description {
		display: flex;
		flex-direction: column;
		gap: 0.625rem 0;
		padding: 0.5rem 0 0;
		p {
			color: var(--secondary-text-color);
			}
		}
  }

/* text-section */
.text-section {
	padding: 6.25rem 0;
	&_indent-top-none {
		padding-top: 0 !important;
		}
	&_indent-bottom-none {
		padding-bottom: 0 !important;
		}
	&__col {
		display: flex;
		align-items: flex-start;
		gap: 0 2rem;
		}
	&__col-left {
		flex-shrink: 0;
		width: 24.5rem;
		}
	&__col-right {
		width: 100%;
		}
	}

/* info-widget */
.info-widget {
	&__text {
		display: -webkit-box;
		margin: 0 0 1rem;
		height: 8.5rem;
		text-overflow: ellipsis;
	  -webkit-box-orient: vertical;
	  -webkit-line-clamp: 5;
	  word-break: break-word;
		overflow: hidden;
		&.show {
			display: block;
			height: auto;
			}
		}
	p {
		margin: 0 0 0.9375rem;
		color: var(--six-text-color);
		font-size: 1rem;
		line-height: 1.5rem;
		&:last-child {
			margin: 0;
			}
		}
	&__all-link {
		position: relative;
		display: inline-block;
		padding: 0 0 0 1.25rem;
		vertical-align: top;
		color: var(--secondary-text-color);
		font-size: 1rem;
		line-height: 1.5rem;
		cursor: pointer;
		transition: .3s color;
		&:before {
			position: absolute;
			display: block;
			width: 0.875rem;
			height: 0.5625rem;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			background: url(../img/icons/down-arrow.svg) center no-repeat;
  		background-size: 100%;
			content: "";
			}
		&:hover {
			color: var(--tertiary-text-color);
			}
		&.hidden {
			display: none;
			}
		}
	&__hide-link {
		position: relative;
		display: inline-block;
		padding: 0 0 0 1.25rem;
		vertical-align: top;
		color: var(--secondary-text-color);
		font-size: 1rem;
		line-height: 1.5rem;
		cursor: pointer;
		transition: .3s color;
		&:before {
			position: absolute;
			display: block;
			margin: -0.28125rem;
			width: 0.875rem;
			height: 0.5625rem;
			top: 50%;
			left: 0;
			transform: rotate(180deg);
			background: url(../img/icons/down-arrow.svg) center no-repeat;
  		background-size: 100%;
			content: "";
			}
		&:hover {
			color: var(--tertiary-text-color);
			}
		&.hidden {
			display: none;
			}
		}
	}

/* map-section */
.map-section {
	.title {
		display: none;
		}
	}

/* map */
#map {
	margin: 0;
	padding: 0;
	width: 100%; 
	height: 40.625rem;
	vertical-align: top;
	}