/* 1440 */
@media (max-width: 1440px) {

/* reviews-slider */
.reviews-slider {
	.swiper-button-prev,
	.swiper-button-next {
		display: none;
		}
	}

/* related-slider */
.related-slider {
	.swiper-button-prev,
	.swiper-button-next {
		display: none;
		}
	}

}

/* 1282 */
@media (max-width: 1282px) {

/* html */
html {
  font-size: 1.26vw;
}
/* container */
[class*=__container] {
  max-width: 100%;
}

}

/* 767 */
@media (max-width: 767px) {

/* html */
html {
	font-size: 3.7vw;
	}

/* m-scroll-none */
body.m-scroll-none {
  overflow: hidden;
  }

/* wrapper */
.wrapper {
  overflow: hidden;
  }

/* header */
.header {
	&__top-col {
		gap: 0;
		padding: 1.25rem 0;
		}
	.working-hours {
		display: none;
		}
	&__bottom-col {
		gap: 0;
		padding: 0 0 1.25rem;
		}
	}

/* logo */
.logo {
	width: 5.875rem;
	}

/* telegram-link*/
.telegram-link {
	&__text {
		font-size: 1rem;
		line-height: 1.5rem;
		}
	}

/* main-nav */
.main-nav {
	display: none;
	}

/* mobile-menu-btn */
#mobile-menu-btn {
  display: block;
  }

/* mobile-menu */
.mobile-menu {
	display: block;
	&__logo {
		width: 5.875rem;
		}
	}

/* info-section */
.info-section {
	padding: 3.125rem 0;
	&_indent-top-none {
		padding-top: 0;
		}
	.big-title {
		margin: 0 0 0.75rem;
		}
	}

/* big-title */
.big-title {
	font-size: 2.125rem;
	line-height: 2.5rem;
	}

/* offers-section */
.offers-section {
	&__in {
		margin: 0 -1.25rem;
		padding: 3.125rem 1.25rem;
		}
	}

/* offers-slider */
.offers-slider {
	&.swiper {
		margin: 0 -0.3125rem;
		}
	.swiper-slide {
		padding: 0 0.3125rem;
		}
	}

/* title */
.title {
	margin: 0 0 1rem;
	font-size: 1.75rem;
	line-height: 2.125rem;
	}

/* catalog-section */
.catalog-section {
	padding: 3.125rem 0;
	}

/* catalog */
.catalog {
	grid-template-columns: repeat(2, 1fr);
	gap: 0.625rem 0.625rem;
	&__img {
		height: 9.375rem;
		}
	&__title {
		padding: 0.5625rem 0.5rem;
		font-size: 1rem;
		line-height: 1.25rem;
		}
	}

/* popular-section */
.popular-section {
	padding: 3.125rem 0;
	}

/* furniture */
.furniture {
	grid-template-columns: repeat(1, 1fr);
	gap: 0.625rem 0.625rem;
	.btn {
		width: 100%;
		}
	}

/* gl-form */
.gl-form {
	padding: 1.25rem;
	&__col {
		flex-direction: column;
		gap: 1.5rem 0;
		}
	&__col-left {
		width: 100%;
		p {
			br {
				display: none;
				}
			}
		}
	.fields-col {
		grid-template-columns: repeat(1, 1fr);
  	gap: 1.25rem 0;
		}
	.btn {
		width: 100%;
		}
	}

/* advantages-section */
.advantages-section {
	padding: 3.125rem 0;
	}

/* advantages */
.advantages {
	grid-template-columns: repeat(1, 1fr);
  gap: 0.625rem 0;
	}

/* partners-section */
.partners-section {
	padding: 3.125rem 0;
	}

/* advantages */
.advantages {
	&__top-col {
		display: flex;
		align-items: center;
		gap: 0 0.75rem;
		}
	&__icon {
		flex-shrink: 0;
		margin: 0;
		}
	}

/* partners */
.partners {
	grid-template-columns: repeat(2, 1fr);
  gap: 0.625rem 0.625rem;
	}

/* reviews-section */
.reviews-section {
	padding: 3.125rem 0;
	}

/* reviews-slider */
.reviews-slider {
	.swiper {
		margin: 0 -1.5625rem;
		padding: 0 1.25rem;
		}
	.swiper-slide {
		padding: 0 0.3125rem;
		width: 18.5rem;
		}
	}

/* blog-section */
.blog-section {
	padding: 3.125rem 0;
	}

/* top-panel */
.top-panel {
	.link {
		display: none;
		}
	}

/* blog */
.blog {
	display: flex;
	gap: 0 0.625rem;
	margin: 0 -1.25rem;
	padding: 0 1.25rem;
	overflow-x: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
  	display: none;
  	}
  &_changed {
  	flex-direction: column;
  	margin: 0;
  	padding: 0;
  	gap: 0.625rem 0;
  	overflow-x: inherit;
  	white-space: inherit;
  	.blog__item {
  		width: 100%;
  		&:nth-child(5),
  		&:nth-child(6) {
  			display: none;
  			}
  		}
  	}
  &__item {
  	flex-shrink: 0;
		width: 19.375rem;
		white-space: normal;
  	}
	}

/* questions-section */
.questions-section {
	padding: 3.125rem 0;
	&__col {
		flex-direction: column;
		gap: 1rem 0;
		}
	&__col-left {
		width: 100%;
		}
	.title {
		margin: 0;
		}
	}

/* accordion */
.accordion {
	&__title-panel {
		align-items: flex-start;
		}
	}

/* text-section */
.text-section {
	padding: 3.125rem 0;
	&__col {
		flex-direction: column;
		gap: 16px 0;
		}
	&__col-left {
		margin: 0;
		width: 100%;
		}
	.title-small {
		margin: 0;
		}
	}

/* info-panel */
.info-panel {
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 2rem 0;
	.tags {
		width: inherit;
		}
	.select {
		width: 100%;
		}
	}

/* tags */
.tags {
	display: flex;
	flex-wrap: inherit;
	gap: 0 10px;
	margin: 0 -20px;
	padding: 0 20px;
	overflow-x: scroll;
	white-space: nowrap;
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
		}
	}

/* tag */
.tag {
	flex-shrink: 0;
	}

/* select-col */
.select-col {
	width: 100%;
	}

/* select */
.select {
	width: 100%;
	min-width: inherit;
	}

.furniture {
	&__zoom {
		display: none;
		}
	}

/* footer */
.footer {
	position: relative;
	padding: 3.125rem 0;
	z-index: 35;
	&__top-col-in {
		flex-direction: column;
		gap: 2.5rem 0;
		}
	&__left-col {
		padding: 0 0 2.5rem;
		border-bottom: 0.0625rem solid var(--tertiary-border-color);
		}
	&__nav-col {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 0 1.25rem;
		}
	&__right-col {
		flex-direction: column;
		gap: 2.5rem 0;
		width: 100%;
		}
	&__item {
		width: 100%;
		min-width: inherit;
		}
	&__nav {
		min-width: inherit;
		}
	&__bottom-col-in {
		flex-direction: column;
		align-items: flex-start;
		gap: 0.5rem 0;
		}
	}

/* form-modal */
.form-modal {
	&__content {
		padding: 5rem 1.25rem;
		}
	.gl-form {
		padding: 1.25rem;
		}
	}

/* gl-form */
.gl-form {
	&__text {
		br {
			display: none;
			+ br {
				display: block;
				}
			}
		}
	}

/* furniture-modal */
.furniture-modal {
	&__content {
		padding: 5rem 1.25rem;
		}
	&__close-btn {
		width: 1.25rem;
		height: 1.25rem;
		top: -0.625rem;
    right: -0.625rem;
		background-size: 100%;
		}
	&__img {
		height: 13.125rem;
		}
	&__in {
		display: flex;
		flex-direction: column;
		gap: 1.25rem 0;
		}	
	}

/* content-section */
.content-section {
	padding: 3.125rem 0;
	&_indent-top-none {
		padding-top: 0;
		}
	&_indent-bottom-none-mob {
		padding-bottom: 0;
		}
	}

/* page-nav */
.page-nav {
	flex-wrap: wrap;
	gap: 1.25rem 2.125rem;
	ul {
		order: -1;
		}
	}

/* article */
.article {
	flex-direction: column;
	gap: 4.375rem 0;
	p {
		font-size: 1.0625rem;
		line-height: 1.625rem;
		}
	&__img {
		height: 21.875rem;
		}
	.title {
		margin: 2.5rem 0 1rem;
		}
	&__bottom-panel {
		flex-direction: column;
		align-items: flex-start;
		margin: 2.5rem 0 0;
		padding: 1.5rem 0 0;
		gap: 2rem 0;
		}
	.other-articles {
		position: static;
		width: inherit;
		margin: 0 -1.25rem;
		padding-bottom: 5rem;
		}
	}

/* list */
.list {
	li {
		font-size: 1.0625rem;
		line-height: 1.625rem;
		}
	}

/* notification */
.notification {
	flex-direction: column;
	gap: 0.75rem 0;
	}

/* quote */
.quote {
	margin: 2.5rem 0;
	padding: 2.5rem 0;
	&__text {
		font-size: 1.25rem;
		line-height: 1.75rem;
		}
	&__author {
		font-size: 1.0625rem;
		line-height: 1.625rem;
		}
	}

/* nav-arrows */
.nav-arrows {
	justify-content: space-between;
	width: 100%;
	gap: 0 0.9375rem;
	}

/* ncompany-information */
.company-information {
	flex-direction: column;
	gap: 3.125rem 0;
	&__description {
		p {
			font-size: 1.0625rem;
			line-height: 1.625rem;
			}
		}
	.company-nav {
		position: static;
		width: 100%;
		}
	}

/* company-nav */
.company-nav {
	li {
		font-size: 1.125rem;
		line-height: 1.5rem;
		}
	}

/* statistics */
.statistics {
	grid-template-columns: repeat(1, 1fr);
	gap: 1.25rem 0;
	&__number {
		font-size: 2.5rem;
		line-height: 3rem;
		}
	}

/* contacts-col */
.contacts-col {
	grid-template-columns: repeat(1, 1fr);
	gap: 1.25rem 0;
	}

/* contacts */
.contacts {
	padding: 1.25rem;
	&__working-hours {
		margin: 0 0 1.25rem;
		font-size: 1.125rem;
		line-height: 1.6875rem;
		}
	&__phone {
		font-size: 1.5rem;
		line-height: 1.75rem;
		}
	}

/* furniture-info */
.furniture-info {
	flex-direction: column;
	gap: 1.25rem 0;
	&__primary-col {
		width: 100%;
		}
	&__secondary-col {
		width: 100%;
		}
	&__tertiary-col {
		width: 100%;
		}
	}

/* furniture-slider */
.furniture-slider {
	margin: 0 -1.25rem;
	.discount-sticker {
		display: block;
		}
	&__big {
		.swiper-slide {
			height: 17.5rem;
			}
		}
	}

/* order-widget */
.order-widget {
	position: fixed;
	width: 100%;
	min-height: inherit;
	left: 0;
	bottom: 0;
	z-index: 30;
	&__top-panel {
		margin: 0 0 1.0625rem;
		}
	&__discount-panel {
		display: none;
		}
	&__price {
		margin: 0;
		font-size: 1.125rem;
		line-height: 1.375rem;
		}
	}

/* related-section */
.related-section {
	padding: 3.125rem 0 4.375rem;
	&_indent-top-none {
		padding-top: 0;
		}
	}

/* steps-section */
.steps-section {
	padding: 3.125rem 0 3.75rem;
	&__top-panel {
		margin: 0 0 1.25rem;
		p {
			br {
				display: none;
				}
			}
		}
	}

/* related-slider */
.related-slider {
	margin: 0;
	.swiper {
		margin: 0 -1.5625rem;
		padding: 0 1.25rem;
		}
	.swiper-slide {
		padding: 0 0.3125rem;
		width: 17.875rem;
		}
	.swiper-pagination {
		display: none;
		}
	}

/* steps */
.steps {
	grid-template-columns: repeat(1, 1fr);
	gap: 1.25rem 0;
	&__top-panel {
		flex-direction: row;
		align-items: center;
		gap: 0 0.5rem;
		}
	}

/* error-404 */
.error-404 {
	&__name {
		font-size: 7.5rem;
  	line-height: 7.5rem;
		}
	&__title {
		margin: 0 0 1.25rem;
		font-size: 1.75rem;
	  line-height: 2rem;
		}
	p {
		margin: 0 0 1.875rem;
		font-size: 1rem;
		line-height: 1.5rem;
		br {
			display: none;
			}
		}
	}

/* share */
.share {
	&__dropdown {
		left: auto;
		right: 0;
		transform: inherit;
		&:after {
			left: 90%;
			}
		}
	}

}