/* root */
:root {

  /* text color */
  --primary-text-color: #222831;
  --secondary-text-color: #2D4059;
  --tertiary-text-color: #FF5722;
  --quaternary-text-color: #FFFFFF;
  --fifth-text-color: #7D90A9;
  --six-text-color: #686E77;
  --seven-text-color: #AFC2DB;
  --eight-text-color: #FF7540;
  --nine-text-color: #CCCDCD;
  --ten-text-color: #0B68BF;
  --eleven-text-color: #119F3C;

  /* font-family */
  --primary-font-family: 'Inter', sans-serif;
  --secondary-font-family: 'Good Timing', sans-serif;

  /* font-weight */
  --primary-font-weight: 400;
  --secondary-font-weight: 500;
  --tertiary-font-weight: 600;
  --quaternary-font-weight: 700;
  --fifth-font-weight: 800;

  /* border-color */
  --primary-border-color: #AFC2DB;
  --secondary-border-color: #FF5722;
  --tertiary-border-color: #222831;
  --quaternary-border-color: #2D4059;
  --fifth-border-color: #AFC2DB;
  --six-border-color: #FFFFFF;
  --seven-border-color: #F4F5F5;

  /* btn-color */
  --primary-btn-color: #FF5722;
  --secondary-btn-color: #FF7540;
  --tertiary-btn-color: #EB430E;
  --quaternary-btn-color: #AFC2DB;
  --fifth-btn-color: #2D4059;
  --six-btn-color: #F4F5F5;

  /* background-color */
  --primary-background-color: #2D4059;
  --secondary-background-color: #F4F5F5;
  --tertiary-background-color: #FF5722;
  --quaternary-background-color: #FFFFFF;
  --fifth-background-color: #E0E1E1;
  --six-background-color: #AFC2DB;
  }